*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0 auto 20px auto;
    width: 100%;
    background: lavender;
}
h1{
    cursor: pointer;
    text-align: center;
    background-color: lightcyan;
    box-shadow: 10px 10px 20px rgb(132, 151, 151);
    font-size: 1em;
    padding: 10px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    position: relative;
    display: block;
    color: rgb(46, 46, 134);
}
.text{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}
.btn{
    text-decoration: none;
    color: rgb(44, 38, 38);
    font-weight: 700;
    font-size: 15px;
}
.btn:hover{
    text-decoration: none;
    color: red;
}
h4{
    margin-bottom: 5px;
    cursor: pointer;
    color: rgb(194, 0, 0);
    font-weight: 600;
    width: 100%;
    border-bottom: 2px solid red;
}
h4:hover{
    color: rgb(8, 32, 8);
    transition: 0.5s ease-in-out;
}
.list section{
    width: 100%;
    padding: 10px;
}
.list{
    margin: 10px auto 20px auto;
    display: block;
}